filebeat.inputs:
- type: log
  enabled: true
  paths:
    - /var/log/nginx/access.log
  fields:
    log_type: nginx_access
  fields_under_root: true

- type: log
  enabled: true
  paths:
    - /var/log/nginx/error.log
  fields:
    log_type: nginx_error
  fields_under_root: true

output.elasticsearch:
  hosts: ["{{ hostvars[groups['elasticsearch'][0]]['ansible_host'] }}:9200"]
  indices:
    - index: "nginx-logs-%{+yyyy.MM.dd}"